
.nav{
    display:flex;
    padding:2% 6%;
    justify-content:space-between;
    align-items:center;
}
.nav-links{
    flex:1;
    text-align:right;
}
.nav-links ul li{
    list-style:none;
    display:inline-block;
    padding:8px 12px;
    position:relative;

}
.nav-links ul li a{
    color:#fff;
    text-decoration:none;
    font: size 16px;
}
.nav-links ul li::after{
        content:'';
        width:0%;
        height:2px;
        background:#f44336;
        display:block;
        margin:auto;
        transition: 0.5s;
}
.nav-links ul li:hover::after{
     width:100%;
}
.about-body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: #fff;
    font-family: "Arial",sans-serif;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(Images/pic1.jpg);
}

.section {
    width: 100%;
    min-height: 100vh;
}

.container {
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 100px;
}

.content-section {
    float: left;
    width: 57%;
}

.image {
    float: left;
    width: 30%;
}

.image {
    float: right;
    width: 38%;
}

    .image img {
        width: 85%;
        height: auto;
        border-radius: 35px;
    }

.section .title {
    text-transform: uppercase;
    font-size: 28px;
    color: rgb(242, 255, 0);
}

.section .content h2 {
    margin-top: 20px;
    color: #ffdb00;
    text-decoration: underline;
    text-decoration-color: #ece7e7;
    font-size: 21px;
}

.section .content p {
    margin-top: 10px;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 1.5;
    color:#efefef;
    margin-top: 60px 60px;
}

   



    /*-------------------------- Footer--------------------------------------------*/
    .footer {
        margin-top: 150px;
        width: 70%;
        padding: 100px 15%;
        background: #333;
        color: #efefef;
        display: flex;
    }

        .footer div {
            text-align: center;
        }

    .col-2 {
        flex-grow: 2;
    }

    .footer div h3 {
        font-weight: 300;
        margin-bottom: 30px;
        letter-spacing: 1px;
    }

    .col-1 a {
        display: block;
        text-decoration: none;
        color: #efefef;
        margin-bottom: 10px;
    }
.col-1 a::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.col-1 a:hover::after {
    width: 100%;
}


    form input {
        width: 400px;
        height: 45px;
        border-radius: 15px;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 40px;
        outline: none;
        border: none;
    }

    form button {
        background: green;
        border: 2px solid #fff;
        color: #fff;
        border-radius: 30px;
        padding: 10px 30px;
        font-size: 15px;
        cursor: pointer;
    }

    .soial-icons {
        margin-top: 30px;
    }


.soial-icons {
    font-size: 35px;
    margin: 10px;
    cursor: pointer;
}
.rates{
    color:#ffdb00;
}




@media screen and (max-width:768px) {
    .container {
        width: 80%;
        display: block;
        margin: auto;
        padding-top: 50px;
    }

    .image {
        float: none;
        width: 100%;
    }

        .image img {
            float: none;
            width: 100%;
            display: block;
            margin: auto;
        }

    .content-section .title {
        text-align: center;
        font-size: 19px;
    }

    .content-section .social {
        text-align: center;
    }
}


@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(50px);
    }

    100% {
        opacity: 0;
        transform: translateX(0px);
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }

    100% {
        opacity: 0;
        transform: translateX(0px);
    }
}
